@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

html {
    overflow: hidden;
}

:root {
    --background: #1B1B1B;
    --header: #292929;
    --font: #eee;
    --green_ligth: #3CF238;
    --green: #5eae53;
    --green_dark: #1C8C3E;
}

* {
    font-family: 'Poppins', sans-serif;
}

/* Body the page */
body {
    background: var(--background);
    justify-content: center;
}

/* Menu start */

header {
    padding: 0.1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header);
    height: 4.5em;
}

header .logo #logo_branca {
    width: auto;
    height: 3em;
    margin: 0 0 0 30px;
}

/* Menu end */

/* Accessibility start */

header .acess_icon i {
    color: var(--font);
    font-size: 1.8em;
    float: left;
    margin: 0 30px 0 0;
    cursor: pointer;

}

header .acess_icon i:hover {
    color: var(--green);
}

header .acess_nav {
    position: absolute;
    top: 105%;
    top: 105%;
    right: -90%;
    width: 10em;
    background-color: #323232;
    text-align: center;
    align-items: center;
    display: flex;
    color: var(--font);
    padding: 10px 20px 0px 20px;
    border-radius: 0 0 0 10px;
    box-shadow: 0 0 1em var(--header);
    animation: go-go .8s;
}

header .acess_nav.active {
    right: 0em;
    transition: 1s linear;
    animation: reverse .8s;
}

@keyframes go-back {

    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(0);
    }

    /* animation: go-go .8s; */
}

/* @keyframes go-go {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100px);
    }
  }  */

header .acess_nav.active {
    right: 2rem;
    transition: .5s linear;
    animation: go-back .8s;
}

@keyframes go-back {
    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(0);
    }
}

header .acess_nav p,
i {
    padding-right: 10px;
    padding-left: 10px;
}

header .acess_nav i {
    margin-top: -13px;
    align-items: center;
}

/* Accessibility end */



.flexa a {
    position: absolute;
    margin-left: 3%;
    margin-top: 6%;
}

.flexa i {
    font-size: 50px;
    color: var(--green_dark);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 25px;
}

.flexa i:hover {
    cursor: pointer;
    color: var(--green_ligth);
    transform: scale(1.1);
}















section .ferramenta {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


section .title {
    position: absolute;
    width: auto;
    font-weight: 600;
    font-size: 50px;
    /* display: flex; */
    color: var(--green);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 15%;
}


section .financeiro {
    /* padding-top: 30px; */
    box-sizing: border-box;
    position: absolute;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 68%;
    /* height: 700px; */
    top: 30%;
    background: #0e0e0e;
    border: 0.865138px solid var(--green_dark);
    box-shadow: 0px 3.46055px 3.46055px rgba(0, 0, 0, 0.25);
    border-radius: 12.9771px;
}

.input_financeiro {
    margin-top: 5%;
    margin-left: 3%;
}

.input_financeiro .campo {
    width: 20%;
    height: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.input_financeiro label {
    position: absolute;
    color: var(--font);
    font-size: 18px;
    display: contents;
}

section .campo input {
    background: var(--header);
    border-radius: 0.9em;
    border: none;
    margin-top: 10px;
}

.campo input:focus {
    color: #fff;
    outline: 1px solid var(--green);
}

input {
    /* display: flex; */
    padding: 0.3em 0 0.3em 0;
    padding-left: 5%;
}


section .financeiro h3 {
    position: absolute;
    top: 5%;
    right: 3%;
    color: var(--font);
    font-weight: 300;
    font-size: 25px;
}

/* Se o salto for positivo a estivização vai ser */

/* section .financeiro span {
    color: var(--green_dark);
    font-weight: 400;
} */

/* Se o salto for negativo a estivização vai ser */

/* section .financeiro span {
    color: rgba(255, 0, 0, 0.712);
    font-weight: 400;
} */

/* .line-chart {
    position: relative;
    margin: auto;
    height: 110vh;
    width: 80vw;
} */

section .container_grafico {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grafico{
   position: absolute;
   top: 15%;
   margin-left: 15%;
   width: 70%;
   height: 80%;
}
