@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


html {
    overflow-x: hidden;
    overflow-y: hidden;
}

:root {
    --background: #1B1B1B;
    --header: #292929;
    --font: #eee;
    --green_ligth: #3CF238;
    --green: #5eae53;
    --green_dark: #1C8C3E;
}

* {
    font-family: 'Poppins', sans-serif;
    transition: .2s linear;
}

body {
    background-color: var(--background);
    width: 100%;
    height: 100%;
}



/* header Start */

header {
    z-index: 2;
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
}

header a {
    margin-left: 3%;
    margin-top: 2%;
}

header i{
    font-weight: 500;
    font-size: 50px;
    color: var(--green_dark);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 25px;
}

header i:hover{
    cursor: pointer;
    color: var(--green_ligth);
}

/* header end */


/* section start */

section .title {
    font-weight: 600;
    font-size: 60px;
    color: #5CCD59;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 25px;
}

section .container_breve img {
    width: 450px;
    height: 180px;    
}

.container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section .container_breve {
    top: 10em;
    position: relative;
    align-items: center;
    text-align: center;
}

/* section end */