@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


html {
    overflow-x: hidden;
    overflow-y: hidden;
}

:root {
    --background: #1B1B1B;
    --barrinha: #4ab358;
    --barrinhahover: #2d6d35;
    --header: #292929;
    --font: #eee;
    --green_ligth: #3CF238;
    --green: #5eae53;
    --green_dark: #1C8C3E;
}

* {
    font-family: 'Poppins', sans-serif;
    transition: .2s linear;
}
/* 
body{background: var(--bg);} */

/* 
/* Body the page */
/* 
body{
    /* min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center; */
    /* background:url(../img/fundoLogin.jpg); */
/* 

body {
    min-height: 100vh;
    display: flex;
    background:url(../img/fundoLogin.jpg) no-repeat;
    background-size: initial;
    background-position: center;
    width: 100%;
    height: 100%;
} */ */

/* .login .formulario{max-width: 60rem;} */

body {
    background: var(--background);
    justify-content: center;
}



/* Section Start */

section .title {

    position: absolute;
    width: 448px;
    height: 332px;
    left: 10%;
    top: 160px;
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: var(--green);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* CONTAINER */

section .container_login {
    padding-top: 30px;
    box-sizing: border-box;
    position: absolute;
    align-items: center;
    text-align: center;
    width: 470px;
    height: 700px;
    top: 30px;
    background: #0e0e0e;
    border: 0.865138px solid var(--green_dark);
    box-shadow: 0px 3.46055px 3.46055px rgba(0, 0, 0, 0.25);
    border-radius: 12.9771px;
    right: 5%;
    margin-left: 30px;
}


section .container_login img {
    width: 50px;
    height: 50px;
    margin-top: 1em;
}

section .container_login h3 {
    top: 222px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    color: #5CCD59;
    margin-top: .5em;
    margin-bottom: .5em;
}

/* INPUT */

section .botao_login{
    margin-left: 1.5em;
}

section .botao_login input {
    background: var(--header);
    border-radius: 0.9em;
    border: none;
    width: 420px;
    height: 62px;
    margin-top: 20px;
    margin-bottom: 10px;
}

form input:focus{
    color: #fff;
    outline: 1px solid var(--green);
}

form input {
    color: #eee;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

input {
    display: flex;
    padding: 0.3em 0 0.3em 0;
    padding-left: 5%;

}

section .container_login h4 {
    margin: 1em;
    font-style: normal;
    font-weight: 600;
    font-size: 16.186px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: var(--green_dark);
}

/* BOTÕES */

.container_login button {
    width: 314px;
    height: 51px;
    margin: .5em;
    border-radius: .5em;
    background: none;
    color: var(--green_dark);
    border: var(--green_dark) solid 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.container_login button:hover {
    border: none;
    border-radius: .5em;
    background-color: var(--green_dark);
    color: var(--font);
    transition: .5s;
}

section .container_login h5{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: var(--green_dark);
    margin: 10px;
}

/* Conheça nossa ferramneta */




/* RESPONSIVIDADE */

/* media queries  */
@media (max-width:1110px) {

    html {
        font-size: 120%;
    }

    section .title {
        width: 550px;
        height: 332px;
        left: 120px;
        top: 200px;
        font-size: 75px;
    }

    section .container_login {
        width: 500px;
        height: 744px;
    }


    section .container_login img {
        width: 60px;
        height: 60px;
        margin-top: 1em;
    }

    section .container_login h3 {
        font-size: 32px;
        margin-bottom: 1em;
    }

    /* INPUT */

    section .botao_login input {
        border-radius: 1em;
        width: 440px;
        height: 62px;
        margin-top: 30px;
    }

    form input {
        font-size: 22px;
    }    
    

    section .botao_login {
        margin-left: 1.5em;
    }

    section .container_login h4 {
        font-size: 19px;
    }

    /* BOTÕES */

    .container_login button {
        width: 338px;
        height: 55px;
        top: 50px;
        font-size: 26px;
    }

    section .container_login h5 {
        font-size: 20px;
        margin: 15px;
    }

}


@media (max-width:768px){

    html {
        font-size: 160%;
    }

    section .title {
        left: 100px;
        top: 240px;
        font-size: 80px;
    }

    section .container_login {
        width: 630px;
        height: 936px;
        left: 730px;
    }


    section .container_login img {
        width: 80px;
        height: 80px;
    }

    section .container_login h3 {
        font-size: 40px;
        margin-bottom: 1em;
    }

    /* INPUT */

    section .botao_login input {
        border-radius: 1em;
        width: 560px;
        height: 82px;
        margin-top: 50px;
    }

    
    form input {
        font-size: 30px;
    }    

    section .container_login h4 {
        font-size: 25px;
        margin-bottom: 50px;
    }

    /* BOTÕES */

    .container_login button {
        width: 428px;
        height: 70px;
        font-size: 28px;
    }

    section .container_login h5 {
        font-size: 28px;
        margin: 30px;
    }


}

@media (max-width:575px){

    html {
        font-size: 250%;
    }

    section .title {
        transform: scaleY(0);
    }

    section .container_login {
        left: 8.5em;
        width: 805.7px;
        height: 1200px;
    }


    section .container_login img {
        width: 100px;
        height: 100px;
        margin-bottom: 30px;
    }

    section .container_login h3 {
        font-size: 50px;
        margin-bottom: 1.2em;
    }

    /* INPUT */

    section .botao_login input {
        border-radius: 1em;
        width: 700px;
        height: 102px;
        margin-top: 60px;
    }

    form input {
        font-size: 35px;
    }    

    section .container_login h4 {
        font-size: 35px;
        margin-bottom: 90px;
        margin-top: 40px;
    }

    /* BOTÕES */

    .container_login button {
        width: 550px;
        height: 90px;
        font-size: 36px;
    }

    section .container_login h5 {
        font-size: 36px;
        margin: 40px;
    }

}