@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


html {
    overflow-x: hidden;
    overflow-y: hidden;
}

:root {
    --background: #1B1B1B;
    --header: #292929;
    --font: #eee;
    --green_ligth: #3CF238;
    --green: #5eae53;
    --green_dark: #1C8C3E;
}

* {
    font-family: 'Poppins', sans-serif;
    transition: .2s linear;
}

.login {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/fundo_login_meta.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.login .formulario {
    max-width: 60rem;
}


/* Section Start */

section .title {
    position: absolute;
    width: 448px;
    height: 332px;
    left: 10%;
    top: 25%;
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    
    line-height: 120%;
    display: flex;
    align-items: center;
    color: var(--green);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* CONTAINER */

section .container_login {
    padding-top: 30px;
    box-sizing: border-box;
    position: absolute;
    align-items: center;
    text-align: center;
    width: 470px;
    height: 700px;
    top: 5%;
    background: #0e0e0e;
    border: 0.865138px solid var(--green_dark);
    box-shadow: 0px 3.46055px 3.46055px rgba(0, 0, 0, 0.25);
    border-radius: 12.9771px;
    right: 5%;
    margin-left: 30px;
}


section .container_login img {
    width: 50px;
    height: 50px;
    margin-top: 2%;
}

section .container_login h3 {
    top: 222px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    color: #5CCD59;
    margin-top: .3em;
    margin-bottom: .3em;
}

/* INPUT */

/* section .botao_login{
    margin-left: 1.5em;
} */

section .botao_login input {
    background: var(--header);
    border-radius: 0.9em;
    border: none;
    width: 90%;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5%;
}

form input:focus {
    color: #fff;
    outline: 1px solid var(--green);
}

form input {
    color: #eee;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

input {
    display: flex;
    padding: 0.3em 0 0.3em 0;
    padding-left: 5%;

}

section .container_login h4 {
    margin: .5em;
    font-style: normal;
    font-weight: 600;
    font-size: 16.186px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: var(--green_dark);
}


/* BOTÕES */

.container_login button {
    width: 314px;
    height: 51px;
    margin: .5em;
    border-radius: .5em;
    background: none;
    color: var(--green_dark);
    border: var(--green_dark) solid 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.container_login button:hover {
    border: none;
    border-radius: .5em;
    background-color: var(--green_dark);
    color: var(--font);
    transition: .5s;
}

section .container_login h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: var(--green_dark);
    margin: 10px;
}

/* Conheça nossa ferramneta */


/* RESPONSIVIDADE */

/* media queries  */





@media (max-width:2652px) {

    section .title {
        left: 10%;
        width: 850px;
        font-size: 120px;
        top: 35%;
    }

    section .container_login {
        width: 900px;
        height: 1341px;
        margin-right: 3%;
    }

    section .container_login img {
        width: 90px;
        height: 90px;
        margin-bottom: 2%;
        margin-top: 1%;
    }


    section .container_login h3 {
        top: 222px;
        font-size: 60px;
    }

    section .botao_login input {
        width: 90%;
        height: 100px;
        font-size: 30px;
        margin-top: 50px;
    }


    section .container_login h4 {
        margin: 1.5em;
        font-size: 30px;
    }


    /* BOTÕES */

    .container_login button {
        width: 615px;
        height: 100px;
        margin: .8em;
        font-size: 40px;
    }

    section .container_login h5 {
        font-size: 40px;
        margin: 10px;
    }
}

@media (max-width:2160px) {

    section .title {
        left: 5%;
        width: 700px;
        font-size: 100px;
    }

    section .container_login {
        width: 700px;
        height: 1043px;
    }

    section .container_login img {
        width: 70px;
        height: 70px;
    }


    section .container_login h3 {
        font-size: 40px;
    }

    section .botao_login input {
        width: 90%;
        height: 100px;
        font-size: 30px;
        margin-top: 40px;
    }


    section .container_login h4 {
        margin: .5em;
        font-size: 30px;
    }


    /* BOTÕES */

    .container_login button {
        width: 500px;
        height: 90px;
        margin: .8em;
        font-size: 35px;
    }

    section .container_login h5 {
        font-size: 30px;
        margin: 0px;
    }


}


@media (max-width:1570px) {

    section .title {
        left: 5%;
        width: 448px;
        font-size: 65px;
    }

    section .container_login {
        width: 550px;
        height: 700px;
    }

    section .container_login img {
        width: 50px;
        height: 50px;
    }


    section .container_login h3 {
        font-size: 30px;
    }

    section .botao_login input {
        width: 90%;
        height: 60px;
        font-size: 20px;
        margin-top: 40px;
    }


    section .container_login h4 {
        margin: .5em;
        font-size: 20px;
    }


    /* BOTÕES */

    .container_login button {
        width: 314px;
        height: 51px;
        margin: .8em;
        font-size: 25px;
    }

    section .container_login h5 {
        font-size: 20px;
    }



}

@media (max-width:1440px) {

    section .container_login {
        width: 470px;
        height: 700px;
        margin-right: -1%;
    }

    
    section .botao_login input {
        margin-top: 30px;
    }

}

@media (max-width: 1050px) {

    section .title {
        transform: scaleY(0);
    }

    .login {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center
    }

    section .container_login {
        width: 400px;
        height: 700px;
        position: relative;
        margin-left: 5% ;
    }

    section .container_login img {
        width: 50px;
        height: 50px;
    }


    section .container_login h3 {
        font-size: 25px;
    }

    section .botao_login input {
        width: 90%;
        height: 60px;
        font-size: 20px;
        margin-top: 20px;
    }


    section .container_login h4 {
        margin: .5em;
        font-size: 15px;
    }


    /* BOTÕES */

    .container_login button {
        width: 300px;
        height: 50px;
        margin: .8em;
        font-size: 25px;
    }

    section .container_login h5 {
        font-size: 20px;
    }

}

@media (max-width:425px) {

    section .container_login {
        width: 300px;
        height: 600px;
    }

    section .container_login img {
        width: 40px;
        height: 40px;
    }


    section .container_login h3 {
        font-size: 20px;
    }

    section .botao_login input {
        width: 90%;
        height: 50px;
        font-size: 16px;
        margin-top: 30px;
    }


    section .container_login h4 {
        margin: .4em;
        font-size: 15px;
    }


    /* BOTÕES */

    .container_login button {
        width: 200px;
        height: 40px;
        margin: .8em;
        font-size: 20px;
    }

    section .container_login h5 {
        font-size: 15px;
        margin: 10px;
    }

}